body{
    font-family: "Segoe UI Light", sans-serif;
    background-color: darkslategray;
}

h1{
    text-align: center;
}


.break-logo {
    display: inline-block;
    padding-top: 5px;
    padding-left: 50px;
}


.text{
    display: block;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
}

.main{
    display: block;
    padding-left: 15%;
    padding-right: 15%;
}

footer{
    font-size: 10px;
    display: block;
    height: 30px;
    text-align: end;
}

.footer{
    display: block;
    padding-top: 10px;
    padding-right: 5px;
}

nav img {
    animation: 1,1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-1000%);
    }
    50% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0);
    }
}
 #img {
     animation: shafl 1s;
 }
@keyframes shafl {
    0% {
        transform: translateX(-1000%);
    }
    50% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0);
    }
}

table {
    color: white;
    background-color: #111;
}
table tr {
    background-color: #0E0B08;
}
table tr th {
    padding: 40px 190px;
}

.nav-item {
    margin-left: 20px;
}

li a {
    color: white;
}

li a:hover {
    color: yellow;
}

.navbar-expand-lg {
    background-color:black;
}

.news-1 {
    padding-top: 40px;
}

.news-2 {
}

div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.add-image {
    margin-top: 120px;
}

.foto-admin{
    width: 400px;
    margin-bottom: 20px;
}

.form{
    padding-left:390px;
}

.admin-button-add-foto {
    float: right;
    margin-right: 50px;
    border-radius: 20px;
}

.admin-button-add-text {
    float: right;
    margin-right: 50px;
    border-radius: 20px;
}

.admin-form {
    margin-bottom: 100px;
    margin-top: 50px;
}
